@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  padding: 1em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

a.logo {
  color: #c500ff;
  font-weight: bold;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  margin-top: 1em;
}

nav li {
  margin-right: 0.5em;
}

nav li a {
  color: black;
  font-weight: bold;
  padding: 0.3em 0.7em;
  background-color: #e6e6e6;
  border-radius: 1em;
}

.hero-left {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  width: 80%;
  margin: 1.5em auto 0;
}

.hero-left p {
  font-size: 1.2em;
  width: 80%;
  margin: 1em auto;
}

a.cta-btn {
  color: white;
  background: #c500ff;
  padding: 0.8em 1.5em;
  border-radius: 2em;
  font-weight: bold;
  margin: 1em 0 3em;
  display: inline-block;
}

ul.testimonials {
  margin-top: 3em;
}

ul.testimonials li {
  background: white;
  padding: 2em;
  margin-bottom: 1em;
  text-align: center;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,.3);
}

blockquote, blockquote p {
  margin: 0px;
}

footer {
  font-weight: bold;
  display: block;
  margin-top: 1em;
}

blockquote p {
  line-height: 1.4em;
}

/* width display */

.width-container {
  display: none;
}

.display-width {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  background-color: #e6e6e6;
  padding: .3em;
  font-size: .85em;
}

@media (min-width: 390px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    margin-top: .2em;
  }
  nav ul li:nth-of-type(3) {
    margin-right: 0;
  }
}
