/* Multi-Layered Shadows */

body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: rgb(171, 187, 204);
}

.card {
  width: 60%;
  margin: 0 auto;
  padding: 2em;
  background: white;
  border-radius: .4em;
  box-shadow:
    0 1.2px 4.9px rgba(0, 0, 0, 0.17),
    0 1.9px 9.4px rgba(0, 0, 0, 0.122),
    0 2.4px 13.5px rgba(0, 0, 0, 0.101),
    0 3px 17.5px rgba(0, 0, 0, 0.085),
    0 4.7px 23.2px rgba(0, 0, 0, 0.069),
    0 15px 46px rgba(0, 0, 0, 0.048)
  ;
  text-align: center;
}

.card:hover {
  box-shadow:
  0 1.2px 4.9px rgba(0, 0, 0, 0.4),
  0 1.9px 9.4px rgba(0, 0, 0, 0.288),
  0 2.4px 13.5px rgba(0, 0, 0, 0.238),
  0 3px 17.5px rgba(0, 0, 0, 0.2),
  0 4.7px 23.2px rgba(0, 0, 0, 0.162),
  0 15px 46px rgba(0, 0, 0, 0.112)
;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0;
}

.desc {
  line-height: 1.7em;
  font-size: .9em;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  background: rgb(171, 187, 204);
  color: white;
  display: inline-block;
  padding: .7em 2em;
  border-radius: 2em;
  margin-top: 1em;
}
